<div class="row" ng-init="loadingMessageMy ='loading from server ...'">
    <div>
        <input id="loadingItems" type="checkbox" ng-model="loadingItems">
        <label for="loadingItems">Show items </label>
    </div>
    <hr>
    <input type="text" ng-model="loadingMessageMy">
    <hr>


    <a360-spinner loading-msg="hello from vm"  loading-msg-exp="loadingMessageMy" ng-show="loadingItems"></a360-spinner>

    <div ng-hide="loadingItems" class="col s4" enlarge-on-hover ng-repeat="item in storeItems track by $index ">
        <div class="card ">
            <div class="card-image waves-effect waves-block waves-light">
                <img style="height:250px" ng-click="goToItem(item.id)" class="activator" ng-src="{{item.image}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"> <a ui-sref=".details({Id:item.id})"> {{item.name}}</a><i class="material-icons right">more_vert</i></span>
                <p> <a href="#/items/{{item.id}}"> {{item.price}}</a></p>
                <p ng-show="mouseOver">
                    <a-rank rank="item.rank" on-rank-changed="handleRankChanged(rank)"></a-rank>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"> <a ui-sref="items.details({Id:item.id})"> {{item.name}}</a><i class="material-icons right">close</i></span>
                <p> {{item|json}}</p>

            </div>
        </div>

    </div>
</div>