<div class="row">
    <div class="col s6">
        <h4>teachers </h4>
        <button class="waves-effect waves-light btn ng-click="handleAddTeacher()"> + add TEacher</button>
        <div ng-repeat="teacher in teachers track by $index" ng-click="handleTeacherChange(teacher)">
            {{teacher.first_name}}{{teacher.last_name}} {{teachers[0].last_name}}
        </div>
    </div>
    <div class="col s6">
        <h4>teacher : detailes</h4>

        <div class="card">
            <div class="card-content">S {{selectedTeacher.bio}}
            </div>
        </div>
    </div>
</div>